.table-with-sidepane {
  position: relative;
  overflow: hidden;
}

.sidepane-animation-container {
  background: #f1f1f1;
  padding: 1rem;
}

.table-with-sidepane__main {
  overflow: auto;
  margin-bottom: 1rem;
}


@media all and (min-width: 1200px) {
  .table-with-sidepane__main {
    width: 70%;
    margin: 0;
    padding-right: 1rem;
    
    table {
      margin: 0;
    }
  }
  
  .sidepane-animation-container {
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    width: 30%;
  }
}