.page-header {
  padding: 2rem 0;
  margin-bottom: 1rem; }

.backbar {
  padding: 1rem;
  background: #f1f1f1;
  margin: 1rem 0; }

.the-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 5rem;
  background: #f1f1f1;
  font-weight: 700;
  font-size: 2rem; }

.transition-container {
  margin: 2rem 0;
  padding: 1rem 0; }
  .transition-container__inner {
    min-height: 150px; }

.control-container {
  padding: 1rem 0;
  margin: 2rem 0; }

